<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iccs.app.icaro.dev" version="2.0.0"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IcaroEvoCoop Dev</name>
    <description>Icaro App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Maggioli spa
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="http://*" />
    <access origin="https://*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />
    <!--preference name="phonegap-version" value="cli-9.0.0" /-->
    <platform name="android">

        <preference name="android-targetSdkVersion" value="33" />
        <preference name="scheme" value="https" />
        <preference name="AndroidBlacklistSecureSocketProtocols" value="SSLv3,TLSv1" />
        <preference name="AndroidInsecureFileModeEnabled" value="true" />

        <preference name="orientation" value="portrait" />
        <preference name="SplashScreenDelay" value="2500" />
        <preference name="ShowSplashScreenSpinner" value="false"/>
        <preference name="FadeSplashScreenDuration" value="800"/>
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/logo.png" />

        <preference name="android-build-tool" value="gradle" />
        <icon density="ldpi" src="/www/img/icon/android/ldpi.png" />
        <icon density="mdpi" src="/www/img/icon/android/mdpi.png" />
        <icon density="hdpi" src="/www/img/icon/android/hdpi.png" />
        <icon density="xhdpi" src="/www/img/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="/www/img/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="/www/img/icon/android/xxxhdpi.png" />
        <splash density="port-ldpi" src="/www/img/screen/android/splash-port-ldpi.png" />
        <splash density="port-mdpi" src="/www/img/screen/android/splash-port-mdpi.png" />
        <splash density="port-hdpi" src="/www/img/screen/android/splash-port-hdpi.png" />
        <splash density="port-xhdpi" src="/www/img/screen/android/splash-port-xhdpi.png" />
        <splash density="port-xxhdpi" src="/www/img/screen/android/splash-port-xxhdpi.png" />
        <splash density="port-xxxhdpi" src="/www/img/screen/android/splash-port-xxxhdpi.png" />

        <!--feature name="Calendar">
            <param name="android-package" value="nl.xservices.plugins.Calendar" />
        </feature-->
    </platform>
</widget>
